@if (Session["UserName"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Welcome " + Convert.ToString(Session["UserName"]), "Index", "Home")</li>
        <li>@Html.ActionLink("Home", "TweetHome", "Home")</li>
        <li>@Html.ActionLink("Profile", "Index", "Home")</li>
        <li>@Html.ActionLink("Log off", "Index", "Home")</li>
    </ul>

}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


